html, body {
    background: #FFF url("#{resource['img:background.jpg']}") repeat-x 50% -26px;
    font-size: 12px;
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    margin: 0;
    padding: 0;
}

.login-content {
    background-color: #0b5ed7;
}
/*.login-content .login-panel {*/
/*    background-color: #D20005;*/
/*}*/
/*.login-content .login-panel .logo{*/
/*    background-color: #0dcaf0;*/
/*}*/