html, body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

html body{
    background: #FFF url("#{resource['img:background.jpg']}") repeat-x 50% -26px;
}
header{
    background: #fff url(#{resource['img:top-background.jpg']}) repeat-x;
}
#menu{
    background: #fff url(#{resource['img:top-background.jpg']}) repeat-x;
}